.stepper {
    background-color: var(--third-color) !important;
    /*box-shadow: none;*/
    height: 100vh;
    padding: 10px 20px;
}

.stepper__header {
    border-radius: 5px;
}

.stepper__content {
    border-radius: 5px;
    height: 400px;
    margin-top: 10px;
    overflow-y: scroll;
}

.stepper__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.stepper__buttons__prev {
    position: absolute !important;
    bottom: 20px;
    left: 30px;
}

.stepper__buttons__next {
    position: absolute !important;
    bottom: 20px;
    right: 30px;
}

.step-three > button {
    margin: 0 5px;
}

/*
    Show Scrollbar always if there's an overflow.
    (not just when scrolling)
*/
.stepper__content::-webkit-scrollbar {
    -webkit-appearance: none;
}

.stepper__content::-webkit-scrollbar:vertical {
    width: 5px;
}

.stepper__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid var(--fourth-color); /* should match background, can't be transparent */
    background-color: var(--fourth-color);
}
/* --------------------------------------------- */

.link {
    color: var(--third-color) !important;
}

.config-panels {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
}

.config-panels__item {
    /*max-width: 48%;*/
    margin: 3px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.config-panel__info {
    text-align: left;
}

.config-panel__control {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.config-panel__control__input {
    max-width: 50% !important;
}

/*Report*/
.report {
    /*background-color: rgba(0,0,0, 0.4);*/
    /*background-color: rgba(255, 255, 255, 0.4);*/
    background-color: var(--fourth-color);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    /*color: var(--third-color);*/
    /*color: var(--second-color);*/
    color: var(--first-color);

    overflow: scroll;

    text-align: center;
}

.report-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.audit {
    text-align: left;
    padding: 5px 12px;
}
