.stepper {
    background-color: var(--third-color) !important;
    /*box-shadow: none;*/
    height: 100vh;
    padding: 10px 20px;
}

.stepper__header {
    border-radius: 5px;
}

.stepper__content {
    border-radius: 5px;
    height: 400px;
    margin-top: 10px;
    overflow-y: scroll;
}

.stepper__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.stepper__buttons__prev {
    position: absolute !important;
    bottom: 20px;
    left: 30px;
}

.stepper__buttons__next {
    position: absolute !important;
    bottom: 20px;
    right: 30px;
}

.step-three > button {
    margin: 0 5px;
}

.link {
    color: var(--third-color) !important;
}

.expansion-panels {
    display: flex;
}

.expansion-panels__panel {
    margin: 3px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.config-panel__info {
    text-align: left;
}

.config-panel__control {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.config-panel__control__input {
    max-width: 50% !important;
}
