<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
        <title>Lighthouse - DPX</title>
    </head>
    <body>
        <h1>Hallo Helmut!</h1>
        <input type="text">
        <button>send</button>
        <script type="module" src="../assets/js/renderer.js"></script>
    </body>
</html>
