*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Remove Arrows from Input:Number --------------- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* ------------------------------------------------ */

:root {
    --first-color: #17252A;
    --second-color: #2B7A78;
    --third-color: #3AAFA9;
    --fourth-color: #DEF2F1;
    --fifth-color: #FEFFFF;
}

.layout {
    background-color: var(--third-color);
    color: var(--first-color);
    font-family: 'Montserrat', "Times New Roman";
}

/* Force Vuetify to show the labels of the steps */
@media only screen and (max-width: 959px) {
    .v-stepper .v-stepper__label {
        display: block !important;
    }
}
